# ignore all env files since they usually contain sensitive data
*.env
*.DB.flyway

# keep envs deliberately named that way
!*.keep.env

# keep examples
!*.example.env

# ignore toml since they probably contain sensitive data
*.toml

# keep the ones deliberately named that way
!*.keep.toml

# keep examples
!EXAMPLE.*.toml